<!-- add_action_item.html -->

<!DOCTYPE>
<html>
<head>
	<title> Action Item Tracker </title>
</head>
<body>
	<h1> Action Item Tracker </h1>


	<div style="margin-top: 40px;"></div>
	
	<!-- Add Action Item Section -->
	<div>
		<h4> Add Action Item </h4>
		<form method="POST" action="/">	
			<label for="meeting_id">Meeting:</label>
			<select id="meeting_id" name="meeting_id">
				{% for meeting in meetings %}
					<option value="{{ meeting[0] }}">{{ meeting[0] }}</option>
				{% endfor %}
			</select>		
			<label for="user_id">User:</label>
			<select id="user_id" name="user_id">
				{% for user in users %}
					<option value="{{ user[0] }}">{{ user[0] }}</option>
				{% endfor %}
			</select>		
			<label for="item">Item Name:</label>
			<textarea id="item" name="item" rows="1" cols="24"></textarea>	
			<label for="completion">Completion:</label>
			<input type="checkbox" id="completion" name="completion" value="completed">
			<input type="hidden" name="completion" value="not completed"	
			<label for="notes">Notes:</label>
			<textarea id="notes" name="notes" rows="1" cols="24"></textarea>
			<input type="submit" value="Add Action Item">
		</form>
	</div>
</body>
</html>
