<!-- index.html -->

<!-- 
Name: Jonah Gates
Date: 2024-06-25
Ownership: This code is proprietary and owned by Jonah Gates. Redistribution or modification without permission is prohibited. 
-->

<!DOCTYPE>
<html>

<body>
	<h1> Action Item Tracker </h1>


	<div style="margin-top: 40px;"></div>
	
	<!-- Add Action Item Section -->
	<div>
		<h4> Add Action Item </h4>
		<form method="POST" action="/">	
			<label for="meeting_id">Meeting:</label>
			<select id="meeting_id" name="meeting_id">
				{% for meeting in meetings %}
					<option value="{{ meeting[0] }}">{{ meeting[0] }}</option>
				{% endfor %}
			</select>		
			<label for="user_id">User:</label>
			<select id="user_id" name="user_id">
				{% for user in users %}
					<option value="{{ user[0] }}">{{ user[0] }}</option>
				{% endfor %}
			</select>
			<p>		
			<label for="item">Item Name:</label>
			</p>
			<p>
			<textarea id="item" name="item" rows="5" cols="48"></textarea>
			</p>
			<p>
			<input type="submit" value="Add Action Item">
			</p>
		</form>
	</div>
	<div style="margin-top: 30px;"></div>
	
		<h4> Add new meeting and user </h4>
		<form method="get" action="/settings"> 
			<input type="submit" value="Go To Add New Meeting and User">
		</form>

	<div style="margin-top: 40px;"></div>
		<h4> View Action Items </h4>
		<form method="get" action="/action_items"> 
			<input type="submit" value="Go To View Action Items">
		</form>

	<div style="margin-top: 30px;"></div>

	<p>
    		<i>This project is developed and owned by Jonah Gates. Unauthorized use, distribution, or modification of the code is prohibited without permission.</i>
	</p>
	

</body>
</html>
